h1 {
  font-style: oblique;
  color: blue;
  text-align: center;
  font-size: 50px
}
.breakfast {
  font-style: normal;
}
.lunch {
  font-style: normal;
}
.dinner {
  font-style:  normal;
}
p.first {
  width: 50%
  font-style:normal;
}
ol{
  font-style: normal;
}
